.features {
  background: #f9f9f9;
  text-align: center;
  position: relative;
  height: 50rem;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: inherit;
    content: "";
    height: 100%;
    transform: skewY(-10deg);
    transform-origin: 100%;
    z-index: -1;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 3rem;
  }
  .feature-card {
    background: #fff;
    padding: 3rem 4rem 4rem 4rem;
    box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.2);
  }
  h2 {
    font-size: 4.2rem;
    font-weight: 700;
    padding: 80px 0;
  }
  h3 {
    font-size: 2.4rem;
    font-size: 700;
    margin: 10px 0 0;
  }
  p {
    font-size: 1.6rem;
    font-weight: 100;
  }

  .car {
    border-top: 3px solid #30e2c0;
  }

  .shoe {
    border-top: 3px solid #5300e6;
  }

  .device {
    border-top: 3px solid #27abfa;
  }
}
